<div class="content-container">
  <h2>Add new book</h2>
  <form class="add-book-form" [formGroup]="bookForm" (ngSubmit)="addBook()">
    <input class="add-book-form__title-input" placeholder="Book title" formControlName="name" type="text" />
    <br />
    <div class="error" *ngIf="bookName?.dirty && bookName?.errors">
      <b>{{bookName?.errors?.['required'] && "Book Name IS REQUIRED"}}</b>
    </div>

    <input type="submit" class="add-book-form__btn" value="Add Book" />
  </form>

  <h2>Your books {{books.length }}</h2>
  <div class="book-list" *ngFor="let book of books">
    <div class="book-list__item">
      <span class="book-list__title">{{ book.name }}</span>
      <button type="button" (click)="deleteBook(book.id)" class="book-list__delete-btn">
        Delete
      </button>
    </div>
  </div>
</div>